# Assignment 4 of Homework 5

### Requirements of this assignment:

1) ensure reproducibility in assessing correlation between 2 samples of citibike data using pearson test, spearman test and K-S test

2) using trip duration of bikers that ride during the day vs night. State your result in words in terms of the Null Hypothesis

- must put the caluclated statistics and the p-value in the context of null hypothesis rejection in each case


- must state the the scipy.stats package documentation for three scipy.stats function, corresponding to the three tests, corresponding to the three tests. wtf this means tho....

Extra credit: 

3) using age of bikers for trips originating in Manhattan and in Brooklyn. Use at least 2 months of citibike data.

Tips from friends: #### just follow the skeleton and plot the same graphs, and decide how much trip duration to represent, you have to drop some! 

Some really useful stuffs: https://medium.com/@msalmon00/helpful-python-code-snippets-for-data-exploration-in-pandas-b7c5aed5ecb9

In [58]:
# As per coding convention, all imported packages will be presented in the first line

# For python 2 and 3 compatibility
from __future__ import print_function

#importing packages
import pylab as pl
import pandas as pd
import numpy as np
import os
import scipy.stats
from scipy import stats

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
# setting puidata, despite my bash being set up correctly 
os.environ["PUIDATA"] = "%s/001_PUI/PUIDATA"%os.getenv("HOME")
print("Path to PUIDATA", os.getenv("PUIDATA"))

Path to PUIDATA /nfshome/qg412/001_PUI/PUIDATA

# Downloading the data

In [3]:
# code credit: Prof bianco
def getCitiBikeCSV(datestring):
    print ("Downloading", datestring)
    ### checking if it is already there
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        if os.path.isfile(datestring + "-citibike-tripdata.csv"):
            # if in the current dir just move it
            if os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA")):
                print ("Error moving file!, Please check!")
        #otherwise start looking for the zip file
        else:
            if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip"):
                if not os.path.isfile(datestring + "-citibike-tripdata.zip"):
                    os.system("wget https://s3.amazonaws.com/tripdata/" + datestring + "-citibike-tripdata.zip")
                ###  To move it, use the os.system() functions to run bash commands with arguments
                os.system("mv " + datestring + "-citibike-tripdata.zip " + os.getenv("PUIDATA"))
            ### unzip the csv 
            os.system("unzip " + os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip")
            ## NOTE: old csv citibike data had a different name structure. 
            if '2014' in datestring:
                os.system("mv " + datestring[:4] + '-' +  datestring[4:] + 
                          "\ -\ Citi\ Bike\ trip\ data.csv " + datestring + "-citibike-tripdata.csv")
            os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA"))
    ### One final check:
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        print ("WARNING!!! something is wrong: the file is not there!")

    else:
        print ("file in place, you can continue")

In [4]:
#jan cause it was snowing: for seasonality
datestring = '201601'
getCitiBikeCSV(datestring)

Downloading 201601
file in place, you can continue

In [5]:
jan16 = pd.read_csv(os.getenv("PUIDATA") + "/" + datestring + '-citibike-tripdata.csv')
jan16.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1

In [6]:
# july cause its summer: for seasonality
datestring = '201607'
getCitiBikeCSV(datestring)

Downloading 201607
file in place, you can continue

In [7]:
jul16 = pd.read_csv(os.getenv("PUIDATA") + "/" + datestring + '-citibike-tripdata.csv')
jul16.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,Customer,NaN,0
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,Subscriber,1984.0,1
2,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.717746,-73.956001,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,16345,Subscriber,1986.0,2
3,687,7/1/2016 00:00:24,7/1/2016 00:11:52,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,25210,Customer,NaN,0
4,609,7/1/2016 00:00:31,7/1/2016 00:10:40,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,212,W 16 St & The High Line,40.743349,-74.006818,15514,Customer,NaN,0

# Initial data cleaning

In [8]:
# convering things to a preferred date time format
jan16['date'] = pd.to_datetime(jan16['starttime'])
jul16['date'] = pd.to_datetime(jul16['starttime'])
jul16.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,Customer,NaN,0,2016-07-01 00:00:02
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,Subscriber,1984.0,1,2016-07-01 00:00:18
2,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.717746,-73.956001,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,16345,Subscriber,1986.0,2,2016-07-01 00:00:19
3,687,7/1/2016 00:00:24,7/1/2016 00:11:52,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,25210,Customer,NaN,0,2016-07-01 00:00:24
4,609,7/1/2016 00:00:31,7/1/2016 00:10:40,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,212,W 16 St & The High Line,40.743349,-74.006818,15514,Customer,NaN,0,2016-07-01 00:00:31

# Trip Duration for Bikers during Day vs Night

$H_0$: There is no difference between the trip duration of bikers that ride during the day vs night.

At a significance of p=0.05

Where in Janurary, 
- day is defined as any trips' starttime taken between 7am to 5pm 

- night is defined as any trips' starttime taken between 5pm to 7am

While in July,
- day is defined as any trips' starttime taken between 6am to 8pm 

- night is defined as any trips' starttime taken between 8pm to 6am

Source for daylight hours in new york @ https://www.timeanddate.com/sun/usa/new-york

In [9]:
#dropping stuffs that was accidentally created wrongly
#jan16.drop('timestamp_only', axis=1, inplace=True)
#jan16.head()

#jul16.sort_values('tripduration')

### Data Wrangling

In [10]:
# creating a new column of data that contains only the time.
# code credit @ https://stackoverflow.com/questions/35595710/splitting-timestamp-column-into-seperate-date-and-time-columns
jan16['new_time'] = [d.time() for d in jan16['date']]
jul16['new_time'] = [d.time() for d in jul16['date']]
jul16.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,new_time
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,Customer,NaN,0,2016-07-01 00:00:02,00:00:02
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,Subscriber,1984.0,1,2016-07-01 00:00:18,00:00:18
2,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.717746,-73.956001,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,16345,Subscriber,1986.0,2,2016-07-01 00:00:19,00:00:19
3,687,7/1/2016 00:00:24,7/1/2016 00:11:52,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,25210,Customer,NaN,0,2016-07-01 00:00:24,00:00:24
4,609,7/1/2016 00:00:31,7/1/2016 00:10:40,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,212,W 16 St & The High Line,40.743349,-74.006818,15514,Customer,NaN,0,2016-07-01 00:00:31,00:00:31

In [40]:
# code credits @ https://stackoverflow.com/questions/41993598/how-to-add-a-column-to-pandas-dataframe-based-on-time-from-another-column 
# extracting day (7am to 5pm) and night (5pm to 7am) riders in Jan 16
# to check that it changes to day at 7am, do head(1400)
# to check that i changes to night from 5pm onwards, do head(8030)
hours = jan16.date.dt.hour.values
jan16['TimeOfDay'] = np.where(hours <= 6, 'Night',
                     np.where(hours >= 17, 'Night', 'Day'))
jan16['Night'] = np.where(hours <= 6, '1',
                 np.where(hours >= 17, '1', '0'))
jan16['Day'] = np.where(hours <= 6, '0',
               np.where(hours >= 17, '0', '1'))
jan16.head()

   tripduration                date  new_time TimeOfDay Night Day
0           923 2016-01-01 00:00:41  00:00:41     Night     1   0
1           379 2016-01-01 00:00:45  00:00:45     Night     1   0
2           589 2016-01-01 00:00:48  00:00:48     Night     1   0
3           889 2016-01-01 00:01:06  00:01:06     Night     1   0
4          1480 2016-01-01 00:01:12  00:01:12     Night     1   0

In [12]:
# summarize how many day and night riders
jan16.TimeOfDay.value_counts()

Day      306896
Night    202582
Name: TimeOfDay, dtype: int64

In [13]:
jan16.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'date', 'new_time', 'TimeOfDay', 'Night',
       'Day'],
      dtype='object')

In [14]:
#dropping the columns that are not required
jan16.drop(['starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid',
       'birth year', 'gender', 'usertype'],axis=1, inplace=True)

In [15]:
#getting the data types for each column
jan16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509478 entries, 0 to 509477
Data columns (total 6 columns):
tripduration    509478 non-null int64
date            509478 non-null datetime64[ns]
new_time        509478 non-null object
TimeOfDay       509478 non-null object
Night           509478 non-null object
Day             509478 non-null object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 23.3+ MB

In [16]:
# converting the data types of Day and Night columns to integers
jan16[['Day', 'Night']] = jan16[['Day', 'Night']].astype(int)
jan16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509478 entries, 0 to 509477
Data columns (total 6 columns):
tripduration    509478 non-null int64
date            509478 non-null datetime64[ns]
new_time        509478 non-null object
TimeOfDay       509478 non-null object
Night           509478 non-null int64
Day             509478 non-null int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 23.3+ MB

In [17]:
#print the descriptive statistics to get bird eye view of the data
jan16.describe(include='all')

,tripduration,date,new_time,TimeOfDay,Night,Day
count,5.094780e+05,509478,509478,509478,509478.000000,509478.000000
unique,NaN,420479,73018,2,NaN,NaN
top,NaN,2016-01-12 18:56:25,08:43:13,Day,NaN,NaN
freq,NaN,7,30,306896,NaN,NaN
first,NaN,2016-01-01 00:00:41,NaN,NaN,NaN,NaN
last,NaN,2016-01-31 23:59:26,NaN,NaN,NaN,NaN
mean,8.472119e+02,NaN,NaN,NaN,0.397627,0.602373
std,7.396954e+03,NaN,NaN,NaN,0.489408,0.489408
min,6.100000e+01,NaN,NaN,NaN,0.000000,0.000000
25%,3.310000e+02,NaN,NaN,NaN,0.000000,0.000000
50%,5.230000e+02,NaN,NaN,NaN,0.000000,1.000000
75%,8.430000e+02,NaN,NaN,NaN,1.000000,1.000000
max,1.960017e+06,NaN,NaN,NaN,1.000000,1.000000

In [18]:
# extracting day (6am to 8pm) and night riders in Jul 16
# to check that it changes to day at 6am, do head(1530)
# to check that it changes to night from 8pm onwards, do head(106150)
hours = jul16.date.dt.hour.values
jul16['TimeOfDay'] = np.where(hours <= 5, 'Night', 
                     np.where(hours >= 20, 'Night', 'Day'))
jul16['Night'] = np.where(hours <= 5, '1',
                 np.where(hours >= 20, '1', '0'))
jul16['Day'] = np.where(hours <= 5, '0',
               np.where(hours >= 20, '0', '1'))
jul16.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,new_time,TimeOfDay,Night,Day
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,Customer,NaN,0,2016-07-01 00:00:02,00:00:02,Night,1,0
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,Subscriber,1984.0,1,2016-07-01 00:00:18,00:00:18,Night,1,0
2,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.717746,-73.956001,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,16345,Subscriber,1986.0,2,2016-07-01 00:00:19,00:00:19,Night,1,0
3,687,7/1/2016 00:00:24,7/1/2016 00:11:52,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,25210,Customer,NaN,0,2016-07-01 00:00:24,00:00:24,Night,1,0
4,609,7/1/2016 00:00:31,7/1/2016 00:10:40,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,212,W 16 St & The High Line,40.743349,-74.006818,15514,Customer,NaN,0,2016-07-01 00:00:31,00:00:31,Night,1,0

In [19]:
# summarize how many day and night riders
jul16.TimeOfDay.value_counts()

Day      1161845
Night     218265
Name: TimeOfDay, dtype: int64

In [20]:
#dropping the columns that are not needed
jul16.drop(['starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid',
       'birth year', 'gender', 'usertype'],axis=1, inplace=True)

In [45]:
#print the descriptive statistics to get bird eye view of the data
jul16.describe(include='all')

,tripduration,date,new_time,TimeOfDay,Night,Day
count,1.380110e+06,1380110,1380110,1380110,1.380110e+06,1.380110e+06
unique,NaN,944935,81087,2,NaN,NaN
top,NaN,2016-07-11 17:54:14,18:10:58,Day,NaN,NaN
freq,NaN,9,61,1161845,NaN,NaN
first,NaN,2016-07-01 00:00:02,NaN,NaN,NaN,NaN
last,NaN,2016-07-31 23:59:59,NaN,NaN,NaN,NaN
mean,1.000328e+03,NaN,NaN,NaN,1.581504e-01,8.418496e-01
std,1.373462e+04,NaN,NaN,NaN,3.648821e-01,3.648821e-01
min,6.100000e+01,NaN,NaN,NaN,0.000000e+00,0.000000e+00
25%,4.030000e+02,NaN,NaN,NaN,0.000000e+00,1.000000e+00
50%,6.720000e+02,NaN,NaN,NaN,0.000000e+00,1.000000e+00
75%,1.143000e+03,NaN,NaN,NaN,0.000000e+00,1.000000e+00
max,6.707533e+06,NaN,NaN,NaN,1.000000e+00,1.000000e+00

In [21]:
# converting day and night column from object to integer
jul16[['Day', 'Night']] = jul16[['Day', 'Night']].astype(int)
jul16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1380110 entries, 0 to 1380109
Data columns (total 6 columns):
tripduration    1380110 non-null int64
date            1380110 non-null datetime64[ns]
new_time        1380110 non-null object
TimeOfDay       1380110 non-null object
Night           1380110 non-null int64
Day             1380110 non-null int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 63.2+ MB

In [37]:
# Creating a night only dataset for jan to be added to july's later
night_jan = jan16[jan16['Night'] > 0]
night_jan.drop(['Day'],axis=1, inplace=True)
night_jan.head()

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

   tripduration                date  new_time TimeOfDay  Night
0           923 2016-01-01 00:00:41  00:00:41     Night      1
1           379 2016-01-01 00:00:45  00:00:45     Night      1
2           589 2016-01-01 00:00:48  00:00:48     Night      1
3           889 2016-01-01 00:01:06  00:01:06     Night      1
4          1480 2016-01-01 00:01:12  00:01:12     Night      1

In [39]:
# Creating a day only dataset for jan to be added to july's later
day_jan = jan16[jan16['Day'] > 0]
day_jan.drop(['Night'],axis=1, inplace=True)
day_jan.head()

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

      tripduration                date  new_time TimeOfDay  Day
1397          1437 2016-01-01 07:00:05  07:00:05       Day    1
1398           628 2016-01-01 07:00:28  07:00:28       Day    1
1399           539 2016-01-01 07:01:41  07:01:41       Day    1
1400           286 2016-01-01 07:03:28  07:03:28       Day    1
1401           578 2016-01-01 07:03:56  07:03:56       Day    1

In [42]:
# Creating a night only dataset for jan to be added to july's later
night_jul = jul16[jul16['Night'] > 0]
night_jul.drop(['Day'],axis=1, inplace=True)
night_jul.head()

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

   tripduration                date  new_time TimeOfDay  Night
0           704 2016-07-01 00:00:02  00:00:02     Night      1
1           492 2016-07-01 00:00:18  00:00:18     Night      1
2           191 2016-07-01 00:00:19  00:00:19     Night      1
3           687 2016-07-01 00:00:24  00:00:24     Night      1
4           609 2016-07-01 00:00:31  00:00:31     Night      1

In [44]:
# Creating a day only dataset for jan to be added to july's later
day_jul = jul16[jul16['Day'] > 0]
day_jul.drop(['Night'],axis=1, inplace=True)
day_jul.head()

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

      tripduration                date  new_time TimeOfDay  Day
1511           177 2016-07-01 06:00:02  06:00:02       Day    1
1512          1653 2016-07-01 06:00:07  06:00:07       Day    1
1513           686 2016-07-01 06:00:06  06:00:06       Day    1
1514           450 2016-07-01 06:00:14  06:00:14       Day    1
1515           265 2016-07-01 06:00:29  06:00:29       Day    1

In [50]:
#combined night dataset
night_all = night_jan.append(night_jul)
night_all.shape

(420847, 5)

In [64]:
#combined day dataset
day_all = day_jan.append(day_jul)
day_all.shape
day_all.head()

      tripduration                date  new_time TimeOfDay  Day
1397          1437 2016-01-01 07:00:05  07:00:05       Day    1
1398           628 2016-01-01 07:00:28  07:00:28       Day    1
1399           539 2016-01-01 07:01:41  07:01:41       Day    1
1400           286 2016-01-01 07:03:28  07:03:28       Day    1
1401           578 2016-01-01 07:03:56  07:03:56       Day    1

In [100]:
#further cleaning
day_all.drop(['date','new_time','TimeOfDay','Day'], axis=1, inplace=True)
day_all.head()

ValueError: labels ['date' 'new_time' 'TimeOfDay' 'Day'] not contained in axis

In [69]:
night_all.drop(['date','new_time','TimeOfDay','Night'], axis=1, inplace=True)
night_all.head()

   tripduration
0           923
1           379
2           589
3           889
4          1480

# Extra Credit 1 : Plotting histograms

# Kolmogorov-Smirnov Statistic (KS Test)

A two-sided test for the null hypothesis that 2 independent samples are drawn from the same continuous distribution. If the K-S statistic is small or the p-value is high, then we cannot reject the hypothesis that the distributions of the two samples are the same.

In [59]:
# seed for reproducibility
np.random.seed(13)
n1 = 420847 # size of overall night sample
n2 = 1468741 # size of overall day sample

In [97]:
#code credit:https://stackoverflow.com/questions/11739796/turn-2d-numpy-array-into-1d-array-for-plotting-a-histogram
#converting to array 
nights2D = np.array(night_all) # it will be a 2d array here
nights1D = np.squeeze(nights) # making it into a 1d array
days2D = np.array(day_all)
days1D = np.squeeze(days) # making it into a 1d array
days1D

array([1437,  628,  539, ..., 3616,  406, 1276])

In [99]:
# for non-reducted dataset
stats.ks_2samp(nights1D, days1D)

Ks_2sampResult(statistic=0.051107865398419494, pvalue=0.0)

For non-reducted dataset, the KS test returned as 0.0511 and a low p-value of 0.00. The low p-value means that the null hypothesis that the two samples have the same distribution can be rejected, implying that the night trip duration have a different distribution as the day trip duration, at a significance level of p=0.05.

# Pearson's Test for Correlation

# Spearman's Test for Correlation

# Extra Credit 2: Age of bikers in Manhatten & Brooklyn